.container {
    display: grid;
    grid: 100px / auto auto;

    width: 65.144vh;
    height: 140.943vh;
    background-image: url(/assets/images/Details-2-hamb-2.jpg);
    position: relative;
}

.rectangle_name {
    display: flex;
    position: absolute;
    top: 13%;
    left: 13%;
    width: 47.94vh;
    height: 5.32vh;
    background-color: rgb(186, 155, 141);
    border-radius: 1.52vh;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: grid;
    grid: 100px / auto auto;

    width: 65.144vh;
    height: 140.943vh;

    position: relative;
}

.list {
    list-style-type: none;
    padding-top: 57.077vh;
    padding-left: 10.415vh;
}

.rec {
    position: absolute;
    right: 4.56vh;
    list-style-type: none;
    padding-right: 20px;
    margin: -5px 0;
    width: 25vh;
    height: 4.5vh;
    background-color: rgb(186, 155, 141);
    border-radius: 1.52vh;
    border: none;
    font-weight: 600;
}
