.container {
    display: grid;
    grid: 100px / auto auto;
    width: 65.144vh;
    height: 140.943vh;
    position: relative;
}

.rectangle_name {
    display: flex;
    position: absolute;
    top: 13%;
    left: 13%;
    width: 47.94vh;
    height: 5.32vh;
    background-color: rgb(186, 155, 141);
    border-radius: 1.52vh;
    justify-content: center;
    align-items: center;
}



.container2 {
    display: grid;

}
.one {
    position: relative;
    right: 4.56vh;
    list-style-type: none;
    margin: -5px 0;
    margin-top:300px;
    margin-left: 35px;
}
.two{
    position: absolute;
    right: 4.56vh;
    list-style-type: none;
    margin: -5px 0;
    margin-top:300px;
    margin-right: 75px;
}

