<div class="container">
    <div class="rectangle_name">
        <h3>Leon</h3>
    </div>
    <div class="container2">
        <ul class="one">
            <li ><b>Name:</b></li><br><br>
            <li ><b>Type:</b></li><br><br>
            <li ><b>Family:</b></li><br><br>
            <li ><b>Gender:</b></li><br><br>
            <li ><b>Country:</b></li><br><br>
            <li ><b>Date of admission:</b></li> 
        </ul>
        <ul class="two">
            <li id="1"> Leon </li><br><br>
            <li id="2">Mamifero</li><br><br>
            <li li id="3"> Felino </li><br><br>
            <li id="4"> Macho </li><br><br>
            <li id="5"> Sudafrica </li><br><br>
            <li id="6"> 25/05/2021 </li>
        </ul>
        
    </div>

    <!-- <div class="container">
        <div class="rectangle_name">
            <h3>Leon</h3>
        </div>
        <ul class="list">
            <b>Name:</b> <p  class="rec" id="name" > </p><br><br><br>
            <b>Type:</b> <input class="rec" id="type"><br><br><br>
            <b>Family:</b> <input class="rec" id="family"><br><br><br>
            <b>Gender</b> <input class="rec" id="gender"><br><br><br>
            <b>Country:</b> <input class="rec" id="country"><br><br><br>
            <b>Admission date:</b> <input class="rec" id="Admission date">
        </ul>
           -->