* {
  font-family: Arial;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background: none;
  text-align: center;
  display: block;
}


.move {
  position: relative;
  display: contents;
  border:2px solid black;
  padding: 10px 30px;
  overflow: hidden;
  text-decoration: none;
  width:200px;
}



moveRight {
  text-align: center;
 margin-left: 500px;
 background-color: #a0d11e;

 }

.moveRight:before {
  content:'»';
  position:absolute;
  right:10px;
  font-size: 24px;
  top:4px;
}

.moveLeft:before {
  content:'«';
  position:absolute;
  left:10px;
  font-size: 24px;
  top:4px;
}
.moveLeft:hover:after {
  transition: all 0.15s;
  left:0;
}

