body {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: rgb(210, 187, 187) ;
  // padding: 20px;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  
}

.right {
  margin-left: 75%;
  
}

.left {
  margin-right: 75%;
  margin-top: 5px;
  
}