<div class="container">
    <div class="rectangle_name">
        <h3>Leon</h3>
    </div>
    <form class="list">
        <b>Name:</b> <input class="rec" id="name"><br><br><br>
        <b>Type:</b> <input class="rec" id="type"><br><br><br>
        <b>Family:</b> <input class="rec" id="family"><br><br><br>
        <b>Gender</b> <input class="rec" id="gender"><br><br><br>
        <b>Country:</b> <input class="rec" id="country"><br><br><br>
        <b>Admission date:</b> <input class="rec" id="Admission date">
    </form>
   
