h1 {
    color: blue;
    text-align: center;
  }
  
  section {
    text-align: center;
    background-color: #BA9B8D;
    max-width: 50%;
    max-height: 75%;
    border-radius: 10px;
    opacity: 0.8;
    width: 80%;
    position: absolute;
    top: 40%;
    left: 25%;
  }
  
  body {
    background-image: url(/assets/images/rino-blanco-1rino.png);
     height: 1000px;
     width: auto;
     position: relative;  
  }
  
  img {
    max-width: 75px;
    margin: auto;
  }
  input {
    border-radius: 10px;
    background-color: #E6D5A1;
    opacity: 1;
  }
  
  button {
    border-radius: 10px;
    background-color: #8AC294;
    display: flex;
    margin-left: 70%;
    position: relative;
    opacity: 1;
    position: absolute;
    top: 85%;
    left: -8%;
  }