<ul ng-app="myApp" ng-controller="namesCtrl">
  <li ng-repeat="x in names">
      <!-- {{animal | continent }} -->
  </li>
</ul>

<script>
var app = angular.module('myApp', []);
app.filter(' continent ', function() {
  return function(x) {
      var i, c, txt = "";
      for (i = 0; i < x.length; i++) {
          c = x[i];
          if (i % 2 == 0) {
              c = c.toUpperCase();
          }
          txt += c;
      }
      return txt;
  };
});
app.controller('namesCtrl', function($scope) {
  $scope.names = ['Jani', 'Carl', 'Margareth', 'Hege', 'Joe', 'Gustav', 'Birgit', 'Mary', 'Kai'];
});
</script>